<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NON VEG</title>
</head>
<body bgcolor="black">
    <h1><marquee direction='left'><font color="white">WELCOME TO ALL THE CHICKEN LOVERS!</font></marquee></h1> 
    <center><img src="{{ url_for('static', filename='images/chi1.jpeg') }}" alt="My Image" style="max-width: 300%; height: auto;"></center>
    <BR><BR>   
    <b><font color="white">CLICK THE LINK BELOW:<br></font></b>
        <center><a href="NEXT"><center>chicken.in.lov3000</a></center>
        <center><img src="{{ url_for('static', filename='images/Screenshot 2024-10-19 231727.png') }}" alt="My Image" style="max-width: 50%; height: auto;"></center>
</body>
</html>
